In [11]:
# for inline plots in jupyter
%matplotlib inline
# import matplotlib
import matplotlib.pyplot as plt
# for latex equations
from IPython.display import Math, Latex
# for displaying images
from IPython.core.display import Image

In [12]:
# import seaborn
import seaborn as sns
# settings for seaborn plotting style
sns.set(color_codes=True)
# settings for seaborn plot sizes
sns.set(rc={'figure.figsize':(5,5)})

In [14]:
from spicy.stats import uniform

ModuleNotFoundError: No module named 'spicy'

In [7]:
# random numbers from uniform distribution
n = 10000
start = 10
width = 20
data_uniform = uniform.rvs(size=n, loc = start, scale=width)

NameError: name 'uniform' is not defined

In [8]:
ax = sns.distplot(data_uniform,
 bins=100,
 kde=True,
 color='skyblue',
 hist_kws={"linewidth": 15,'alpha':1})
ax.set(xlabel='Uniform Distribution ', ylabel='Frequency')

NameError: name 'data_uniform' is not defined

In [15]:
import pandas as pd
import numpy as np
df = pd.read_csv('Heart.csv')
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [17]:
df['Sex'] = df.sex.replace({1: "Male", 0: "Female"})

In [18]:
dx = df[["target", "Sex"]].dropna()

In [20]:
pd.crosstab(dx.target, dx.Sex)

Sex     Female  Male
target
0           86   413
1          226   300

In [21]:
p_fm = 226/(86+226)
p_fm

0.7243589743589743

In [23]:
n = 86+226
n

312

In [25]:
se_female = np.sqrt(p_fm * (1-p_fm) / n)
se_female

0.02529714756803247

In [27]:
z_score = 1.96
lcb = p_fm - z_score*se_female
ucb = p_fm + z_score*se_female
lcb, ucb

(0.6747765651256307, 0.773941383592318)

In [29]:
import statsmodels.api as sm
sm.stats.proportion_confint(n * p_fm, n)

(0.6747774762140357, 0.773940472503913)

Cholestrol

In [32]:
df.groupby("Sex").agg({"chol": [np.mean, np.std, np.size]})

              chol
              mean        std size
Sex
Female  261.455128  64.466781  312
Male    239.237027  43.155535  713

In [35]:
mean_fe = 261.45   #mean cholesterol of female
sd = 64.4          #standard deviation for female population
n = 312            #Total number of female
z = 1.96           #z-score from the z table mentioned before

In [36]:
se = sd / np.sqrt(n)

In [37]:
lcb = mean_fe - z* se #lower limit of the CI
ucb = mean_fe + z* se #upper limit of the CI
lcb, ucb

(254.3039731821066, 268.59602681789335)